extends ../layout

block content
    .content.pure-u-1.pure-u-md-3-4
        each item in blogs
            section.post
                header.post-header
                    h2.post-title
                        a(href="/read/#{item.id}") #{item.title}
                    p.article-time 发布于：
                        a.post-category.post-category-js(href="/category/#{item.tag}") #{item.tag}
                        time #{moment(item.date_time).utcOffset(-8).format('YYYY年MM月DD日 HH时MM分')}
                a(href="/read/#{item.id}") !{item.content}